*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container .icon{
    width: 200px;
}
.container .icon path{
   fill: transparent;
   stroke-width: 10;
   stroke: #31e8ff;
}






.container .icon.heart path{
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
    
}
.container .icon.heart:hover path{
    animation: animate-heart 1.5s linear forwards;
   
}
@keyframes animate-heart{
    0%
    {
        stroke-dashoffset: 0;
        
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: rgb(0, 255, 255);
    }
}





.container .icon.heart2 path{
    stroke-dasharray: 1820;
    stroke-dashoffset: 0;
}
.container .icon.heart2:hover path{
    animation: animate-heart2 2s linear forwards;
}
@keyframes animate-heart2{
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 1820;
    }
    80%
    {
        stroke-dashoffset: 3640;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3640;
        fill: rgb(255, 0, 170);
    }
}
.container .icon.heart2 path{
    fill: transparent;
    stroke-width: 10;
    stroke:  rgb(255, 0, 170);
 }







.container .icon.heart3 path{
    stroke-dasharray: 2230;
    stroke-dashoffset: 0;
}
.container .icon.heart3:hover path{
    animation: animate-heart3 2s linear forwards;
}
@keyframes animate-heart3{
    0%
    {
        stroke-dashoffset: 0;
    }
    40%
    {
        stroke-dashoffset: 2230;
    }
    80%
    {
        stroke-dashoffset: 4460;
    }
    100%
    {
        stroke-dashoffset: 4460;
        fill: rgb(255, 0, 0);
    }
}
.container .icon.heart3 path{
    fill: transparent;
    stroke-width: 10;
    stroke:  rgb(255, 0, 0);
 }








 .container .icon.heart4 path{
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
    transition: 1s;
    
}
.container .icon.heart4:hover path{

    animation: animate-heart4 2s linear forwards ;
    
   
}
@keyframes animate-heart4{
    0%
    {
        stroke-dashoffset: 0;
        
    }
    40%
    {
        stroke-dashoffset: 1560;
    }
    80%
    {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%
    {
        stroke-dashoffset: 3120;
        fill: rgb(0, 255, 255);
    }
}
.container .icon.heart4:hover{
    box-shadow: 0 0 50px rgb(147, 255, 250)
    ,0 0 100px  rgb(147, 255, 250)
    ,0 0 150px  rgb(147, 255, 250)
    ,0 0 200px  rgb(147, 255, 250)
    ,0 0 250px  rgb(147, 255, 250);
    animation:  animated-heart4 10s linear infinite;
    border-radius: 5%;
    background:   rgb(147, 255, 250);
}
@keyframes animated-heart4{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}